.transition-all {
    transition: all 0.3s ease-in-out;
}

.hover-scale:hover {
    transform: translateY(-2px);
    filter: brightness(1.1);
}

.border-dashed {
    border-style: dashed !important;
}

.fw-extrabold {
    font-weight: 800 !important;
}

@keyframes shake {
    0%,
    100% {
        transform: translateX(0);
    }

    20%,
    60% {
        transform: translateX(-6px);
    }

    40%,
    80% {
        transform: translateX(6px);
    }
}
